* {
    font-family: "Microsoft YaHei";
    margin: 0px;
}

.top{
    width: 80%;
    height: 80px;
    margin: 0px 10%;
}
.nav{
    float: right;
    padding-top: 30px;
}
.nav .nav_list li{
    list-style: none;
    float: left;
    margin-left: 20px;
}
.nav .nav_list li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.banner{
    background: url('../images/banner_top.jpg') top center;
    height: 256px;
    overflow: hidden;
}

.zh{
    display: none;
    font-size: 15px;
    color: #848484;
}

.container{
    width: 80%;
    margin:6px 10%;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.container .title_tj{
    font: 18px "微软雅黑",Arial,Helvetica,sans-serif;
    color: #444;
    font-weight: bold;
    background: url(../images/h_line.jpg) repeat-x 20px center;
}
.container .title_tj p{
    width: 90px;
    background: #fff;
}

.container .main{
    width: 75%;
    float: left;
    min-height: 600px;
}

.container .main .article {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    padding: 20px 20px;
    margin-top: 20px;
}

.container .right{
    float: right;
    width: 18%;
    min-height: 600px;
}

.container .right .side{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    padding: 10px 10px;
    margin-top: 20px;
    text-align: left;

}

.container .right .side .catalogs_list p{
    margin:10px 10px;
}

.container .right .side .calendar_list p{
    margin:10px 10px;
}
.article_content{
    margin-top: 5px;
}

.artcile_more{
    margin-top:5px;
}

.article_tags{
    margin-top:10px;
}

.article_tags .article_tag{
    background-color: #13ace1;
    color: #fff;
    width: auto;
}

.article_footer .ptime{
    margin-top: 8px;
}

.footer{
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}

.login-box{
    width: 80%;
    margin: 10% 20%;
}


.reply_form{
    margin-top: 50px;
}

.reply_list{
   margin-top: 20px;
}

.reply_list .reply{
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    padding: 20px;
}

.reply_list .reply .reply_content{
    margin-top: 10px;
}
.reply_list .reply .reply_time{
    margin-top: 10px;
}



.message_list .message{
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    padding: 20px;
}

.message_list .message .message_content{
    margin-top: 10px;
}
.message_list .message .message_mtime{
    margin-top: 10px;
}


